* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
// .app__navbar { 
//   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAFVBMVEWYmZuHiIqcnZ+bnJ+Ki414eHqfoKIr4B9QAAABhklEQVR4nO3QMQ6DMBAAQWMM/39yIqVBWZHUSDPdnX3NjmNtXK1jrHO+7fNjz3C3/P/joWfnGtscXM1Nk2+alCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUprUu8k655399uWnh5+daxxr42odL4aDCwEptMGgAAAAAElFTkSuQmCC');
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.forHeight {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 14.6rem;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: fixed 1s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.app__navbar-wrapper {
  z-index: 30 !important;
}

@keyframes fixed {
  0% {
    top: -20rem;
  }

  100% {
    top: 0;
  }
}
.app__navbar-links {
  padding-bottom: 0;
  display: flex;
  list-style: none; 
  margin-top: 20px;

  li {
    margin: 0 0.5rem;

    a.links-wrapp {
      position: relative;
      text-decoration: none;
      text-transform: capitalize;
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
      font-weight: 300;
      color: #000;

      &::before {
        position: absolute;
        content: "";
        background-color: pink;
        border-radius: 2rem;
        width: 0%;
        height: 0.2rem;
        left: 0;
        bottom: -0.3rem;
        margin-bottom: -10px;
        transition: all 0.3s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &:hover .link-hover {
      display: block;
    }

    @media screen and (max-width: 820px) {
      margin: 0 1.4rem;
    }
  }

  .link-hover {
    position: absolute;
    display: none;
    left: 0;
    margin: 0;
    z-index: 25;
    margin-top: 0.5rem;
    width: 100%;
    box-shadow: 0.1rem 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 3rem 0;
    margin-top: 20px;
    .links-visible {
      display: flex;
      justify-content: center;
    
      ul {
        list-style: none;
        margin: 0 3rem;

        li {
          font-weight: bold;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          margin-bottom: 1.3rem;
          margin-left: 0;
        }
        a {
          display: block;
          font-size: 1.3rem;
          font-weight: 300;
          color: #000;
          padding: 5px;
          text-decoration: none;
          margin-bottom: 1.3rem;
        }

        a:hover {
          padding: 5px;
          background-color: pink;
        }
      }
    }

    &:hover {
      display: block;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.app__navbar-icons .icon {
   margin: 10px;

}
.rasm {
  margin-right: 400px;
}


